@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@300&family=Righteous&display=swap');

$color-black: black;
$color-blue: blue;
$color-red: red;
$color-white: white;
$h-font: 'Righteous', cursive;
$p-font: 'Lato', sans-serif;
$y-font: 'Italianno', cursive;

body {
  margin: 0;
}

.App {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $h-font;
  overflow-y: auto;
  flex-direction: column;

  * {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  p {
    font-family: $p-font;
  }

  button {
    width: auto;
    height: fit-content;
  }

  .body-content {
    padding: 1rem;
    flex-direction: column;
  }

  .service-list {
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      width: auto;
    }
  }

  .spacer {
    min-height: 4rem;
  }
}

@import './Header/header.scss';
@import './Service/service.scss';
@import './Presentation/presentation.scss';