@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:wght@100&family=Righteous&display=swap');

$color-black: black;
$color-blue: blue;
$color-red: red;
$color-white: white;
$h-font: 'Righteous', cursive;
$p-font: 'Lato', sans-serif;
$y-font: 'Italianno', cursive;

.App {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $h-font;
  overflow-y: auto;
  flex-direction: column;

  * {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  p {
    font-family: $p-font;
  }

  button {
    width: auto;
    height: fit-content;
  }
}

@import './Header/header.scss';